nav{
	width: 100%;
	height: 25vh;
	background-image: url("../Images/background.jpg");
	position: absolute;
}
.contents{
	height: 300vh;
	width: 100%;
}
.coverimg{
	/*20% + a little height of the contents*/
	height: 65vh;
	width: 163vh;
	margin: 0 10%;
	margin-top: 7vh;
	display: inline-block;
	background-image: url('../Images/cover.jpg');
	box-shadow: 0 5px 8px 3px rgba(0,0,0,.9);
	border-radius: 5px;
}
.description{
	color: white;
	width: 40%;
	height: 85%;/*55.25vh*/
	margin: 2% 50% 2.5% 2.5%;
	background-color: rgba(112,112,112, .7);
	border-radius: 50px;
	padding: 15px;
	border: solid 1px black;
	box-shadow: 0 5px 8px 3px rgba(0,0,0,.9);
}
.description *:not(h1){
	font-size: large;
}
.description h1{
	margin: 4vh 12%;
	width: 76%;
	display: inline-block;
	text-align: center;
	box-shadow: 0 0px 5px 0px rgba(0,0,0,.9);
	border-radius: 25px;
	padding: 8px 0;
}
.listp{
	display: inline-block;
	width: 40%;
	height: auto;
	margin-top: 2vh;
}
.listp *{
	line-height: 4vh;
}
.listp ul{
	margin-left: 5vh;
}
.listp i{
	float: right;
}
.leftlistp{
	width: 52%;
	float: right;
}
.button{
	display: inline-block;
	width: 100%;
	height: 20%;/*11.05vh*/
}
.button button{
	background-color: rgba(255,255,255, .7);
	float: right;
	height: 80%;
	width: 25%;	
	margin: 2.21vh 10% 0 0;
	border-radius: 30px;
}
.button button:hover{
	transition: all 300ms 450ms;
	background-color: rgba(255,255,255, .95);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.9);
	transform:scale(1.1)translateX(10px);
}
/*===========================================*/
.packages{
	margin: 10vh 10% 0 10%;
	width: 80%;
	height: 90vh;
	display: inline-block;
}
.packages #get{
	text-align: center;
}
#get{
	font-size: 30px;
	display: inline-block;
	width: 70%;
	height: 6vh;
	margin: 0 15%;
	border: double black;
	border-width: 0 0 3px 0;
}
.packages p{
	margin-left: 2vh;
	font-size: 20px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	font-size: 25px;
}
.packages table{
	width: 60%;
	margin: 3vh 0 0 10%;
	box-shadow: 0 2px 5px 0;
}
.packages tr{
	height: 13vh;
}
.packages a{
	margin: 1vh;
	text-decoration: none;
	font-size: medium;
	display: inline-block;
	height: auto;
	width: auto;
	border: 1px solid skyblue;
	background-color: rgba(112,112,112, .7);
}