*{
	margin: 0;
	padding: 0;
	transition: .4s linear;
	font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}
a{
    color: black;
}
.heading{
	width: 20%;
	height: 60%;
	margin: 0 31% 0 40%;
	float: left;
	text-align: center;
	font-size: xx-large;
}
.heading a{
    text-decoration: none;
	line-height: 15vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.status{
	float: right;
	width: 8%;
	height: 60%;
}
.status img{
	margin: 25% 26%;
	width: 46%;
	height: 50%;
	border-radius: 50%;
	border: solid 1px black;
	opacity: .8;
}
.navi{
	margin-top: -100vh;
	width: 100%;
	height: 10vh;
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	position: absolute;
	margin-top: 15vh;
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.navi *:not(i,.shopnow, .active){
	border: 1px solid black;
	border-radius: 25px;
	opacity: .9;
}
.navi a:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
    box-shadow: 10px 10px 5px black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
}
.active{
    color: red;
    border-radius: 25px;
    border: 1px solid red;
}
.navi a{
	margin: 1.5vh 8%;
	text-decoration: none;
	padding: 2vh;
	display: inline-block;
	background-color: white;
}
#homenavi{
	padding: 2vh 3.5vh;
}
.dropdown {
	display: inline-block;
	margin: 1.5vh 8%;
}
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 14px 16px;
	font-family: inherit;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	padding: 12px 16px;
	display: block;
	text-align: left;
  }
  .dropdown *:not(button, i):hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
  }
  
  /* Add a grey background color to dropdown links on hover */

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
.navi input{
	padding: 1vh;
	float: right;
	margin: 3vh 4vh;
}
/*navigationbar compeleted*/
/*================================================================*/
footer{
	width: 100%;
	height: 50vh;
	border-top: 2px solid red;
	padding-top: 3vh;
}
footer p{
	font-size: 20px;
	color: #e9e9e9;
	line-height: 10vh;
	width: 100%;
	height: 10vh;
	display: inline-block;
	text-align: center;
	background-color: #FF4B2B;
}
footer input{
	border-radius: 20px 0 0 20px;
}
.A{
	margin-top: 5vh;
	width: 30%;
	float: left;
	height: 30vh;
	margin-left: 4vh;
}
.A input{
	width: 100%;
	padding: 2.4vh 0;
	padding-left: 1vh;
	margin-left: 8vh;
	font-size: 15px;
}
form button{
	margin-right: 4vh;
}
.B{
	margin-top: 5vh;
	float: left;
	width: 60%;
	height: 25vh;
}
.B textarea{
	float: right;
	font-size: 15px;
	padding: 1vh;
	width: 90%;
	height: 20.5vh;
	border: 2px solid black;
}
.letter{
	margin-left: 5%;
	width: 40%;
	float: left;
	height: 47vh;
}
.letter strong{
	text-align: justify;
	display: inline-block;
	margin-left: 4vh;
}
.contact{
	width: 55%;
	float: right;
	height: 47vh;
	text-align: center;
}
.upper{
	width: 100%;
	height: 20vh;
}
.upper li{
	margin-top: 3vh;
}
.same h1{
	font-size: 30px;
	border-bottom: 1px solid red;
	display: inline-block;
	text-align: center;
	margin: 1vh 0;
}
.same ul{
	text-align: center;
}
.same li{
	display: inline-block;
	list-style-type: none;
	font-size: 20px;
}
.same li:hover{
	cursor: pointer;
	color: red;
	transition: .7#5s linear;
}
.same i{
	padding: 1vh;
	font-size: 35px;
}
.down{
	margin-top: 2vh;
	width: 100%;
	height: 20vh;
}
.down li{
	margin: 5vh 5%;
}
form button{
	float: right;
	padding: 2vh 3vh;
	border-radius: 25px;
	background-color: #FF4B2B;
	font-size: 15px;
	color: white;
}
form button:hover{
	transform: translateX(2vh);
	transition: 300ms;
	cursor: pointer;
}

